# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

*.log

# Node
node_modules/
dist/
.DS_Store

# Yazio Data
days.json
products.json
backend/yazio-exporter/token.txt
backend/yazio-exporter/YazioExport
